.tooltip__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 282px;
  min-height: 322px;
  background: #ffffff;
  align-items: center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 768px) {
  .tooltip__container {
    width: 430px;
    min-height: 330px;
  }
}
